<div>
 	<div class="container"> 
		<div class="row"> 
			<div class="content-section-a">
			      <div class="col-md-10 col-md-offset-1">
			       <div class="panel panel-default about-panel">
			       <br>
                   <br>
					<div class="panel-body" >
						<h1>Lee Sorensen</h1>

						<p>Thursday, August 30, 2018
						Biographical Dictionary of Historic Art Historians Launches Rebirth
						March 21, 2018 | Duke University, Durham, NC</p>

						<p>A thirty-year-old resource emerged today as a modern reference tool for art history. 
						The Dictionary of Art Historians, www.arthistorians.info, 
						announced a new interface, data structure, and user options, 
						the product of a year-long redesign.  The original tool, a website since 1996, 
						was developed privately by Lee Sorensen, the art and visual studies librarian at 
						Duke University.  Duke’s Wired! Lab for digital art history & visual culture 
						sponsored the project beginning in 2016.  
						The new DAH offers searchable data on over 2400 art historians, museum directors, 
						and art-writers of western art from all time periods.  
						Over 200 academic websites have linked to the project; the tool has been 
						called one of the core tools of art historiography and cited in books and journal articles.</p>

						<p>Begun pre-internet in 1986 as a card file, the project addressed a lack of information 
						on the intellectual heritage that art historians created or used in writing art histories. 
						“Before the DAH, it was impossible to discover even simple things like an art historian’s 
						scholarly reputation, his/her core writings or even under whom they studied,” Sorensen said.  
						“These things are important when reading a text or trying to understand the errors of past 
						research.”</p>

						<p>“The project’s redesign recognizes twenty-first-century scholars’ need to 
						access information in the DAH using multiple digital research methods,” 
						said Hannah Jacobs, Wired!’s digital humanities specialist responsible for the redesign, 
						“It redefines the project content as data that can be mined at both micro and macro levels. 
						standardizing the data and developing new ways to access the data, we are making methods such 
						as text mining, data analysis, and data visualization possible for our audiences.”</p>

						<p>The new Dictionary of Art Historians site will continue to be developed over the coming year. 
						New features to be released include</p>

						<p>Additional filtering capabilities on the “Explore” page;
						Ability to export filtered entries in open data formats;
						Additional resources for citation management;
						New data fields;
						New and updated entries.

						The Dictionary of Art Historians continues to accept contributions. 
						Please submit feedback about the project, new entries, or edits to 
						existing entries to contact@arthistorians.info.</p>

						<p>Wednesday, March 21, 2018</p>
					</div>
				</div>
			 </div>

      </div>

</div> 